div{
    background-color: #4caf50;
    border: 3px solid #4caf50;
    padding: 50px;
    width: 100px;
}
section{
    border: 1px solid blue
}
.img{
    float: right;
}
.titulo{
    clear: right;
}
.img2{
    float: right;
}
.clearfix{
    overflow: auto; /*sobrepor*/
}